<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Pivotal Search</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- styles -->
    <link href="stylesheets/normalize.css" rel="stylesheet">
    <link href="stylesheets/foundation.css" rel="stylesheet">
    <link href="stylesheets/style.css" rel="stylesheet">

  </head>
  <body>
    <div class="row">
        <h1>
            <%= title %>
        </h1>
        <%- include body %>
        <%- include spotify %>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="js/app.min.js"></script>
  </body>
</html>